@mixin box-shadow ($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value; 
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@mixin scrollbar($width, $track-color, $thumb-color) {
    &::-webkit-scrollbar {
        width: $width;
    }
       
    &::-webkit-scrollbar-track {
        background: $track-color;
    }
       
    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
    }
}

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobile {
      @media (max-width: 37.5em)  { @content ; }
   }
 }

 @mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
 }